﻿<div class="jumbotron text-center" style="height: 550px">
    <h3>Todo - Edit Page</h3>

    <button>Save</button>

    <table style="width: 500px">
        <tr>
            <td style="text-align:left;vertical-align:top;padding:0">
                Name:
            </td>
            <td style="text-align:left;vertical-align:top;padding:0">
                <input id="name" ng-model="data.Name" />
            </td>
        </tr>
        <tr>
            <td style ="text-align:left;vertical-align:top;padding:0">
                Content:
            </td>
            <td style="text-align:left;vertical-align:top;padding:0">
                <textarea rows="4" cols="50" ng-model="data.Content"></textarea>
            </td>
        </tr>
        <tr>
            <td style="text-align:left;vertical-align:top;padding:0">
                IsCompleted:
            </td>
            <td style="text-align:left;vertical-align:top;padding:0">
                <input type="checkbox" id="iscompleted" ng-model="data.IsCompleted" />
            </td>
        </tr>
    </table>
</div>