﻿<div class="jumbotron text-center" style="height: 550px">
    <h3>Todo - Home Page</h3>
    <table ng-table class="table" style="width: 500px; border: 1px">
        <tr ng-repeat="d in data">
            <td data-title="'Name'" style="align-items: flex-start">{{d.Name}}</td>
            <td data-title="'Content'">{{d.Content}}</td>
            <td>
                <button ng-click="modify(d)">Edit</button>
            </td>
            <td>
                <button ng-click="delete(d)">Delete</button>
            </td>
        </tr>
    </table>

</div>